.attribute {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  margin: 1rem 1rem 1rem 0rem;
  padding: 1rem;
  width: fit-content;
  text-align: center;
}
.attribute:hover {
  color: white;
  background-color: black;
}

.chosen {
  color: white;
  background-color: black;
}
