.item {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 25rem;
  height: 25rem;
  margin: 1rem;
  padding: 0.5rem;
}

.cardInfo {
  padding-top: 1rem;
}

.itemTitle {
  margin-bottom: 1rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.itemPrice {
  font-weight: bold;
}
